.navbar-nav {
    text-align: right;
    display: inline-block;
}
 h1{
     font-size: 35px;
 }
h2{
    font-size:25px;
}

.finalPro{
    align: center;
}

nav li{
    word-spacing: 15px;
display: inline-block;
text-align: center;
color: black;
}

.jumbotron1{
    background-image: url("../images/images/test\ 4\ -\ Copy.jpg");
    background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
    padding: 10rem 2rem;
}

.containerHFC p{
    background-color: #FFE599;
    opacity: 85%;
}
.containerHFC h1{
    background-color: #FFE599;
    opacity: 85%;
}

.navbar img{
    width: 200px;
    size: 50px;
    padding:10px;
}

.card-deck1{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    "lowfiCard1 lowfiCard2 lowfiCard3 lowfiCard4"
  }

.card-deck1 img{
    weight: 100%;
    padding: 5rem;;
}

.card-deck2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    "hfc1 hfc2"
    "hfc4 hfc5"
  }

.card-deck2 img{
    weight: 20%;
    padding: 2rem;
}

.jumbotron2{
    background-image: url("../images/images/2.jpg");
    background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
    padding: 10rem 2rem;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    "col-sm1 col-sm2"
    "col-sm4 col-sm3"
}

.col-sm1{
    col-sm1:col-sm1;
}

.col-sm2{
    col-sm2:col-sm2;
}
.col-sm3{
    col-sm3:col-sm3;
}
.col-sm4{
    col-sm4:col-sm4;
}

.containerTesting{
    padding:50px;
}

.col-sm2 img{
    width: 60%;
    size: 10px;
}

.col-sm4 img{
    width: 60%;
    size: 10px;
}

.containerPS p{
    background-color: #FFE599;
    opacity: 85%;
}

footer{
    background-color: #FFE599;
    width: 100%
}

footer ul li{ 
    padding: 1%;
     word-spacing: 15px;
     display: inline-block;
     text-align: right;
   }

   footer img {
    width: 100px;
    size: 15px;
    padding:10px;
}

.bottomPg{
    text-align:end
}